{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-6 login-page">
    <div class="panel panel-primary">
        <div class="panel-heading login-logo">
            <h3 class="panel-title text-center">
                &nbsp;
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                    <a class="a-social" href="{% url 'socialauth_begin' 'twitter' %}" role="button">
                    <button class="btn btn-twitter btn-social">
                        <i class="fa fa-twitter pull-left">
                        </i><span class="pull-right">Log in with Twitter</span>
                    </button>
                    </a>
                    <br/>
                    <br/>
                    <a class="a-social" href="{% url 'login' %}" role="button">
                    <button class="btn btn-facebook btn-social">
                        <i class="fa fa-facebook pull-left"></i>
                        <span class="pull-right">Log in with Facebook</span>
                    </button>
                    </a>
                    <br/>
                    <br/>
                    <a class="a-social" href="{% url 'login' %}" role="button">
                    <button class="btn btn-google-plus btn-social">
                        <i class="fa fa-google-plus pull-left"></i>
                        <span class="pull-right">Log in with Google</span>
                    </button>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 login-box">
                    <form method="POST" role="form" action ="{% url 'login' %}">
                        {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input name="username" type="text" class="form-control" placeholder="Email" required autofocus />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input name="password" type="password" class="form-control" placeholder="Password" required />
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary btn-block"/><br/>
                    <p>
                        <a href="http://www.jquery2dotnet.com">Lost your password?</a></p>
                    Don't have an account? <a href="{% url 'login' %}">Sign up here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
